*{
  padding: 0px;
  margin: 0px;
}
.head{
      display: flex;
      justify-content: space-between;
      background-color: #262626;
}
.img{
  width: 14%;
  opacity: 1;
  height: 10vh;
  margin-left: 1%;
  background-color: #262626;
}
.logobtn{
  width: 7%;
  height: 8%;
  margin: 1%;
 border-radius: 5px;
  color: white;
  padding: 0.5%;
  background-color: #82b440;
  cursor: pointer;
}
.findmyself{
  margin: 1%;
  color: white;
}
#mainid{
  background: url('https://cdn3.vectorstock.com/i/1000x1000/46/87/location-background-vector-944687.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 1;
}
.subheader{
  padding: 2%;
  /* color: white; */
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 30;
  font-family: sans-serif;
}
.additem{
  margin: 1%;
  position: relative;
  top: 20%;
  
  margin-left: 25%;
}
input{
  width: 30%;
  
  padding: 1%;
}
.serchbtn{
  width: 10%;
  padding: 1%;
  color: white;
  cursor: pointer;
  background-color: #3d6112;
}
.addtitle{
  position: relative;
  top: 5%;
  font-family: sans-serif;
  text-align: center;
}
.addtitle h3{
  padding: 1%;
}
.renderimg{
  width: 50%;
  margin: 1%;
}
.set{
  margin: 1%;
  display: flex;
  justify-content: space-between;
}
.idtitle{
  margin-top: 150px;
  margin-left: 15%;
}